<h4>All tenants:</h4>
<ul>
<% @tenants.each do |ten| %>
  <a href="/tenants/<%= ten.id %>">
  <li><%= ten.name %></li>
  </a>
<% end %>
</ul>



<button type="button">
<a class="button" href="/apartments">All Apartments</a>
</button>


<button type="button">
<a class="button" href="/tenants/new">New Tenant</a>
</button>


