<h4>WELCOME TO APARTMENT APP</h4>


<button type="button">
<a class="button" href="/tenants">All Tenants</a>
</button>

<br>

<button type="button">
<a class="button" href="/apartments">All Apartments</a>
</button>





